{{#each this}}
    <div class="weather-list__item">
        <div class="weather-list__item-icon">
            <canvas id="{{this.icon}}-{{this.time}}" width="40" height="40"></canvas>
        </div>
        <div class="weather-list__item-temperature">{{this.temperature}}&deg;</div>
        <div class="weather-list__item-info">
            <div class="weather-list__item-city">{{this.name}}</div>
            <div class="weather-list__item-summary">{{this.summary}}</div>
        </div>
    </div>
{{/each}}